@{
    ViewData["Title"] = "Wypożyczalnia Samochodów - Strona Główna";
}
<link rel="stylesheet" href="~/css/index-style.css" />
<div class="text-center">
    <div class="container">
        <h1 class="main-heading">Witaj w Naszej Wypożyczalni Samochodów</h1>
        <p class="description">Twoje miejsce docelowe dla wszystkich potrzeb związanych z wynajmem aut. Odkryj naszą szeroką gamę pojazdów i zarezerwuj swoją przejażdżkę już dziś!</p>

        <h1 class="section-heading">Kontakt</h1>
        <p class="description">Masz pytania lub potrzebujesz pomocy? Skontaktuj się z nami!</p>

        <div class="contact-info">
            <p>Telefon: <a class="contact-link" href="tel:+48-123-456-789">+48 123 456 789</a></p>
            <p>Email: <a class="contact-link" href="mailto:kontakt@wypozyczalnia-samochodow.pl">kontakt@wypozyczalnia-samochodow.pl</a></p>
            <p>Adres: ul. Przykładowa 123, 00-000 Warszawa</p>
        </div>

        <div class="links" style="margin-top: 1%;">
            <a class="sitelinks" href="@Url.Action("Images", "Home")">Przeglądaj Samochody</a>
            <a class="sitelinks" href="@Url.Action("Create", "CarReservations")">Rezerwuj</a>
            <a class="sitelinks" href="@Url.Action("Contact", "Home")">Kontakt</a>
        </div>
    </div>

    <div>
        <a class="MainSite" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
    </div>

    
</div>

