@{
    ViewData["Title"] = "Car Rental - Home Page";
}
<link rel="stylesheet" href="~/css/index-style.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to Our Car Rental Service</h1>
    <p>Your go-to solution for all your car rental needs. Explore our wide range of vehicles and book your ride today!</p>
    <img src="../images/audi-rs3.png" alt="Featured Car" style="width: 60%; height: auto;">

    <div class="links">
        <a href="/cars">Browse Cars</a> |
        <a href="/booking">Make a Reservation</a> |
        <a href="/contact">Contact Us</a>
    </div>
</div>
