@{
    ViewData["Title"] = "Panel Administracyjny";
}

<h1>@ViewData["Title"]</h1>

<div class="adminCenter">
    <p>Konfiguracja</p>

    <div>
        <a href="@Url.Action("Create", "CarReservations")">
            <button class="adminButton">Rezerwacja</button>
        </a>

        <a href="@Url.Action("Index", "CarReservations")">
            <button class="adminButton">Wszystkie Rezerwacje</button>
        </a>
    </div>
</div>
