@{
    ViewData["Title"] = "Oferta aut";
}
<h1>@ViewData["Title"]</h1>

<p>Konfiguracja</p>



    <div>
    <a href="@Url.Action("Create", "CarReservations")">
        <input type="button" value="Rezerwacja" />
    </a>

    <a href="@Url.Action("Index", "CarReservations")">
        <input type="button" value="Wszyskto" />
    </a>

    

    </div>

